<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Order History</title>

    <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>


    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/client.js}"></script>
    <script type="text/javascript" th:src="@{/thelog.js}"></script>

</head>
<body>
    <div id="thelog" class="container">
        <div class="row">
            <button onclick="goHome()" class="btn btn-info">Return Shopping</button>
        </div>
        <div class="row" th:each="entry : ${mathrepo}">
            <div class="col-md-12">
                <p th:text="'Regular: ' + ${entry.regQty}" class="solution"></p>
                <p th:text="'Strawberry: ' + ${entry.strQty}" class="solution"></p>
                <p th:text="'Total Price: $' + ${entry.solution}" class="solution"></p>
                <p th:text="'.................'" class="solution"></p>

            </div>
     </div>
    </div>
</body>
</html>