<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Order Summary</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/style.css}"/>


    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/client.js}"></script>
</head>
<body>
<div class="row">
    <button onclick="goLog()" class="btn btn-info">Order History</button>
</div>
<h1>Confirm</h1>
<h2>Thank You For Your Purchase</h2>
<h3>Your Order Has Been Received</h3>
</body>
</html>